In [1]:
import pickle
prod_model = pickle.load(open('final_ctree_model_dec11.pk', 'rb'))

In [2]:
prod_model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=3,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [3]:
import pandas as pd

In [4]:
prod_data = pd.read_excel('marketing_campaign.xlsx', sheet_name=2)

In [5]:
prod_data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,37,13,29,4,0.4,2,155,0,0,1,0
1,53,27,72,2,1.5,2,0,0,0,1,0
2,50,24,22,1,0.3,3,0,0,0,0,1
3,35,10,81,3,0.6,2,104,0,0,1,0
4,34,9,180,1,8.9,3,0,0,0,0,0

In [6]:
y_prod_pred = prod_model.predict(prod_data)

In [7]:
prod_data['Prediction_cost'] = y_prod_pred

In [8]:
prod_data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Prediction_cost
0,37,13,29,4,0.4,2,155,0,0,1,0,0
1,53,27,72,2,1.5,2,0,0,0,1,0,0
2,50,24,22,1,0.3,3,0,0,0,0,1,0
3,35,10,81,3,0.6,2,104,0,0,1,0,0
4,34,9,180,1,8.9,3,0,0,0,0,0,0

In [9]:
prod_data.to_excel('Prod_Prediction.xlsx')

In [10]:
actual_data = pd.read_excel('marketing_campaign.xlsx',sheet_name=3)

In [11]:
actual_data.head()

   Offer_acceptance
0                 0
1                 0
2                 1
3                 0
4                 0

In [12]:
from sklearn import metrics

In [13]:
metrics.accuracy_score(actual_data,y_prod_pred)

0.8